/* Pictures */

.florence {
    background-image: url('images-italy/florence.jpg');
}

.genoa {
    background-image: url('images-italy/genoa.jpg');
}

.monterosso {
    background-image: url('images-italy/monterosso.jpg');
}

.rome {
    background-image: url('images-italy/rome.jpg');
}

.venice {
    background-image: url('images-italy/venice.jpg');
}