*:not(h1, h2) {
    font-family: 'Roboto Mono', monospace;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
}

/* Header */
header { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header div span {
    font-size: xx-small;
    text-align: end;
    padding-right: 2px;
}

.translation {
    display: flex;
    justify-content: end;
}

.translation .flag {
    width: 40%;
}

.translation .flag img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.home {
    text-decoration: none;
}

/* Sections */
section div {
    background-color: rgb(248, 248, 248);
    border-radius: 8px;
    padding: 0.1rem 0.8rem;
}

section div div {
    padding: 0;
}

section div, section h2 {
    color: midnightblue;    
}

/* Pictures */
.img {
    height: 15rem;
    background-size: 100% 100%;
    border: none;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}


/* Responsiveness */

@media (min-width: 426px) {
    .translation .flag {
        width: 15%;
    }

    header div span {
        font-size: small;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    header div span {
        padding-top: 5px;
    }

    .img {
        height: 25rem;
    }
}

@media (min-width: 769px) {
    header div span {
        padding-top: 10px;
    }
}


