* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 40% auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70%;
    height: 60vh;
}

/* Style for the cards */
.australia, .newyork, .italy {
    height: 90%;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    text-align: end;
    box-shadow: 2px 2px 7px rgb(148, 146, 146);
}

.container a {
    text-decoration: none;
}

.australia {
    background-image: url('australia.jpg');
    background-size: 100% 100%;
}

.newyork {
    background-image: url('newyork.jpg');
    background-size: 100% 100%;
}

.italy {
    background-image: url('italy.jpg');
    background-size: 100% 100%;
}