* {
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: end;
}

header img {
    vertical-align: middle;
}

header a img {
    width: 10%;
    vertical-align: middle;
}

.container {
    margin: 20% auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70%;
    height: 70vh;
}

/* Style for the cards */
.australia, .newyork, .italy {
    height: 90%;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    text-align: end;
    box-shadow: 2px 2px 7px rgb(148, 146, 146);
}

.container a {
    text-decoration: none;
    margin-bottom: 0.2rem;
}

.australia {
    background-image: url('images-index/australia.jpg');
    background-size: 100% 100%;
}

.newyork {
    background-image: url('images-index/newyork.jpg');
    background-size: 100% 100%;
}

.italy {
    background-image: url('images-index/italy.jpg');
    background-size: 100% 100%;
}

@media (min-width: 426px) and (max-width: 768px)  {
    header a img {
        width: 6%;
    }

    .container {
        margin: 15% auto;
        width: 55%;
        height: 110vh;
    }

    .australia, .newyork, .italy {
        box-shadow: 4px 2px 10px rgb(148, 146, 146);
    }
}

@media (min-width: 769px)  {
    header a img {
        width: 5%;
    }

    .container {
        margin: 15% auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
        width: 95%;
        height: 35vh;
    }

    .container a {
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
}

@media (min-width: 1025px) {
    .container {
        height: 40vh;
    }
}